body {
  margin: 0;
  background: #C0C0C0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  padding: 0.5em;/*文字周りの余白*/
  color: #010101;/*文字色*/
  background: #FFC0CB;/*背景色*/
  border-bottom: solid 3px #516ab6;/*下線*/
}

.main {
  background: #ffffff;
  width: 400px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  margin: 30px auto;
}

.question {
  background: #ffffff;
  width: 380px;
  padding: 10px;
  font-size: 80px;
  text-align: center;
  border: 1px solid #cccccc;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.answer {
  background: #ffffff;
  padding: 10px;
  font-size: 50px;
  text-align: center;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

input[type="text"],
input {
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 25px;
    height : 10px;
    width: 240px;
    text-align: center;
}

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  background    : #990000;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */

  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #990000;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #990000;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

h5 {
  font-size: 20px;
  text-align: left;
}

.dialogHeader {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 30px;
  background-color: cyan;
  width: 100%;
  height: 40px;
}

.dialogContent {
  position: relative; 
}
.nextButton {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 150px;
  height: 50px;
  font-size: 20px;
}
.backButton {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 150px;
  height: 50px;
  font-size: 20px;
}

.image {
  object-fit: fill;
  width: 100%;
  height: auto;
  position: relative;
}
.dialogWrapper {
  width: 640px;
  height: 670px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}